.container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
    margin: 2rem 3rem;
}

.aboutMe {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, goldenrod, transparent);
    display: grid;
    place-items: center;
}

.aboutMeImage {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: 0.5s ease-in-out;
}

.aboutMeImage:hover {
    transform: rotate(0);

}

.aboutCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.aboutCard {
    /* background-color: #000; */
    border: 1px solid goldenrod;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}

.aboutCard:hover {
    background-color: goldenrod;
    /* border-color: goldenrod; */
    color: #000;
    transition: all 300ms ease-in-out;
    opacity: .7;
}

.aboutIcon {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.aboutCard h5 {
    font-size: 0.95rem;
}

.aboutCard small {
    font-size: 0.7rem;
    opacity: .8;
}

.aboutContent p {
    margin: 2rem 0 2.6rem;
    opacity: .9;
}
















/* ********MEDIA QUERIES (medium device) */

@media screen and (max-width : 1024px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
    }

    .aboutMe {
        width: 50%;
        /* padding: 2rem; */
        margin: 2rem auto 4rem;
    }

    .aboutContent p {
        margin: 1rem 0 1.5rem;
        opacity: .9;
    }
}







/* ********MEDIA QUERIES (small device) */

@media screen and (max-width : 600px) {
    .aboutMe {
        width: 65%;
        margin: 0 auto 3rem;
    }

    .aboutCards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .aboutContent {
        text-align: center;
    }

    .aboutContent p {
        margin: 1.5rem 0;
    }
}