.container {}

.experienceContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

}

.frontendContainer {
    border: 1px solid goldenrod;
    width: 600px;
    height: 550px;
    border-radius: 30px;
    padding: 2.4rem 2rem;
    margin: 0 auto;
}

.frontendContainer:hover {
    background-color: goldenrod;
    color: #000;
    transition: all 300ms ease-in-out;
    opacity: .7;
}

.frontendContainer h1 {
    text-align: center;
    margin-bottom: 2rem;

}

.backendContainer {
    border: 1px solid goldenrod;
    width: 600px;
    height: 550px;
    border-radius: 30px;
    padding: 2.4rem 2rem;
    margin: 0 auto;
}

.backendContainer:hover {
    background-color: goldenrod;
    color: #000;
    transition: all 300ms ease-in-out;
    opacity: .7;
}

.backendContainer h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.frontendContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;

}

.frontendDetails {
    display: flex;
    gap: 1rem;
    padding: 0px 50px;
}

.experienceFontAwesome {
    margin-top: 9px;
}


/* ********MEDIA QUERIES (medium device) */

@media screen and (max-width : 1024px) {
    .experienceContainer {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .frontendContainer {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .backendContainer {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
}







/* ********MEDIA QUERIES (small device) */

@media screen and (max-width : 600px) {
    .frontendContainer {
        height: 400px;
    }

    .backendContainer {
        height: 400px;
    }
}